:root{
  --bg-dark: #222c2a;
  --bg-white: #f3eed9;
  --bg-brown: #cc9966;

  --font-primary : "Epilogue", sans-serif;
  --font-default: black;
  --font-dark: #fff;
  --font-description-size : clamp(1rem, 2.5vw, 1.4rem);
  --font-header-size: clamp(1.6rem, 2.5vw, 2.3rem)
}


* {
  margin: 0;
  box-sizing: border-box;
}

body,
div,
header,
p,
section{
    margin:0;
    color : var(--font-color);
}

/*Bg Presets*/

.bg-white{
  background-color: var(--bg-white);
}

.bg-dark{
  color: var(--font-dark);
  background-color: var(--bg-dark);
}

.bg-brown{
  background-color: #cc9966;
}

.bg-brown hr {
  border-top:solid 1px black;
}

.page-style{
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-description-size);
  line-height: 1.6rem;
}


/*Header styling*/
.navbar {
  display: flex;
  position:relative;
  flex-direction: row;
  height: 50px;
  background : grey;
  box-shadow: 0 3px 3px  rgba(0,0,0,.3) ;
  align-items: center;
  padding: 0px 10px;
}

.navbar--logo{
  font-size: 80%;
  margin-right: auto;
}


.navbar--pages{
  display: flex;
  margin-left: auto;
  gap : 10px;
  list-style: none;
}
.navbar--page{
  font-size: 80%;
  color:black;
  text-decoration:none;
}


.navbar--hamburger{
  display: none;
}

/*Nav bar media queries*/
@media (max-width: 40rem){
  .navbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: grey;
    opacity: .7;
    inset: 0 0 0 80%;
    height: auto;
    
    z-index: 10;
    padding-top: 1.5rem;

    
  }

  .navbar[aria-expanded="true"]{
      transition: ease-in-out .2s;
  }

  
  .navbar[aria-expanded="false"]{
    transform: translateX(100%);
    transition: ease-in-out .2s;
}
  


  .navbar--name{
    display: none;
  }


  .navbar--hamburger{
    display: block;
    position: fixed; 
    background-color: #9c8b7e;
    padding: 9px;
    left: 94%;
    margin: 1rem .3rem 0 auto;
    z-index: 1000;
  }


  .navbar--pages{
    margin: 2rem 0 0 0;
    flex-direction: column;
    padding: 0;
  }


}

/*Content Container Styling*/

.container{
  margin-inline: auto;
  padding: 1rem;
}

.container--narrow{
  max-width: 50rem;
}

.center-container{
  display: flex;
  flex: column;
  justify-content: center;
  align-items: center;
}




.scroll-up{
   position: fixed; 
   background-color: transparent;
   border: transparent;
   width: 100%;
   left: 45%;
   bottom: 35px;
   height: 20px;
   font-size: 3rem;
   z-index: 1;
   cursor: pointer;
   color: grey;
}

/* Containers with two items*/
.split {
  display:flex;
  flex-direction:column;
  gap:2rem;
}
.split-text {
  display:flex;
  flex-direction:column;
  gap:1rem;
}
.split-text h1 {
  font-size:2rem;
}
.split-text h4 {
  font-size:1rem;
  font-weight:300;
}

.split-text p {
  font-weight:400;
  line-height:1.6;
}

.split-link{
  color: var(--font-default)
}


/*Media query for being greater than phone screen size*/
@media (min-width: 40rem){
  .split{
      flex-direction: row;
  }


  .split-text{
      flex-basis: 70%;
  }

  .split img{
      object-fit: scale-down;
  }

  .container{
    margin-inline: auto;
    padding: 3rem;
  }
  
}
