:root{
    --bg-dark: #222c2a;
    --bg-white: #f3eed9;
    --bg-brown: #cc9966;

    --font-primary : "Epilogue", sans-serif;
    --font-default: black;
    --font-dark: #fff;
}

*,
*::before,
*::after{
    box-sizing : border-box;
}

.page-style{
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6rem;
}


.bg-white{
    background-color: var(--bg-white);
}

.bg-dark{
    color: var(--font-dark);
    background-color: var(--bg-dark);
}

.bg-brown{
    background-color: #cc9966;
}


body,
div,
header,
p,
section{
    margin:0;
    color : var(--font-color);
}



.container{
    margin-inline: auto;
}

.container--narrow{
    max-width: 50rem;
}

.text-center{
    text-align: center;
}

img{
    display: block;
    width: 100%;
    object-fit: scale-down;
    aspect-ratio:16/9;
}

section, header{
    
    margin-inline: auto;
    padding: 3rem 3rem;
}

header{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

header * + *{
    margin-top: 1rem;
}
.header-text{
    margin-block: auto;
    margin-left: 10%;
    text-align: left;
}

header h4{
    margin-bottom : 1rem;
    font-weight: 300;
}


header p{
    max-width: 30rem;
    font-size: 2rem;
    line-height: 2rem;
    margin-inline: auto;

}

.split{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.split-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.split-text h1{
    font-size: 2rem;
}
.split-text h4{
    font-size: 1rem;
    font-weight: 300;
}

.bg-brown hr{
    border-top: solid 1px black;
}

.split-text p{
    font-weight: 400;
    line-height: 1.6;
}





@media (min-width: 40rem){
    .split{
        flex-direction: row;
    }

    .split > *{
        flex-basis: 100%;
    }

    header{
        flex-direction: row;
    }


    
}




