

.container ul{
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    justify-items: left;
}


.container h2{
    text-decoration: underline;
    line-height: 4rem;
}

.message-form{
    margin-inline: auto;
}

.message-form *{
    flex-basis: 100%;
}
.message-form input{
    width: 100%;
}

.message-form textarea{
    width: 100%;
}