*,
*::before,
*::after{
    box-sizing : border-box;
}


.text-center{
    text-align: center;
}

img {
    display:flex;
    width:100%;
    object-fit:contain;
    max-height: 30rem;
    border-radius: 5px;
}

section,
header {
    margin-inline:auto;
    padding:3rem
}
header {
    display:flex;
    flex-direction:column;
    padding:2rem;
    gap: 2rem
    
}

.header-img{
    
    z-index: 1000;
}
header *+* {
    margin-top:1rem
}
.header-text {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left:10%;
    text-align:left;
    justify-content: center;
    align-items: center;
    font-size:var(--font-decription-size);
    
}
header h4 {
    font-weight:300
    
}
header p {
    max-width:30rem;

    font-size:var(--font-header-size);
    line-height:2rem;
}

header h1,p{
    z-index: 10000;
}


.diagonal-text-flourish{
    position:absolute;
    width: 110%;
    height: 100%;
    left: -5;
    background-color: red;
    transform: scale(0%);
    transition: ease-in-out .5s;
    opacity: .5;
    z-index: 1000;
  }

  .container:hover .diagonal-text-flourish{
    transform: scale(100%);
  }
  

.split-flourish{
    right: 0;
    position: absolute;
    transform: translateX(-120%);
    width: 120%;
    height: 100%;
    transition: ease-in-out .5s;
}

.split-flourish-reverse{
    left: 0;
    transform: translateX(120%);
}

.split h1,h2,h3,h4,p,img{
    z-index: 2000;
}

.split-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}   

  
  
  .container:hover .split-flourish{
    transform: translateX(0%);
  }


@media (min-width: 40rem){
    header{
        flex-direction: row;
    
    }

    .diagonal-text-flourish{
        position:absolute;
        width: 100%;
        height: 60%;
        left: -5;
        background-color: red;
        transform: scale(0%);
        transition: ease-in-out .5s;
        opacity: .5;
        z-index: 1000;
      }

    .header-text{
        flex-basis: 60%;
    } 
    
}




